.main-grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.header-item {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  justify-content: space-between;
}

.user-nav {
  display: flex;
}

.body-container {
  display: flex;
  flex-direction: column;
}

.bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body-item {
  flex-grow: 1;
  display: flex;
}

.projects {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.projects-grid {
  flex-grow: 1;
  display: grid;
  grid-template: auto / 1fr 1fr;
  gap: 6px;
}

.projects-grid > div {
  height: 150px;
  border: 1px solid gray;
  border-radius: 1%;
}

.side-bar-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.side-bar-container > div {
  flex: 1;
}
